exportPattern("^[^\\.]")

##import(lme4)
#import(MASS)
##import(multcomp)
import(methods)
#import(survival)
importFrom(MASS, ginv, Null)
## importFrom(lme4, lmer, fixef)
## importFrom(pbkrtest, vcovAdj)
## importMethodsFrom(pbkrtest, vcovAdj)

importClassesFrom(Matrix, Matrix)
importFrom(Matrix, Matrix, sparseMatrix)
importMethodsFrom(Matrix, t, isSymmetric, "%*%", solve, diag)
importFrom("stats", "as.formula", "coef", "delete.response", "family",
           "fitted", "formula", "lm", "logLik", "median",
           "model.frame", "model.matrix", "pchisq", "pnorm", "pt",
           "qnorm", "qt", "residuals", "sd", "summary.lm", "terms",
           "vcov")


## S3method(coerceGraph, dgCMatrix)
## S3method(coerceGraph, graphNEL)
## S3method(coerceGraph, igraph)
## S3method(coerceGraph, matrix)

S3method( coef,             lmBy            )
S3method( coef,             summary_lmBy    )
S3method( esticon,          coxph           )
S3method( esticon,          geeglm          )
S3method( esticon,          glm             )
S3method( esticon,          gls             )
S3method( esticon,          lm              )
S3method( esticon,          lme             )
S3method( esticon,          mer             )
S3method( esticon,          merMod          )
S3method( firstobs,         default         )
S3method( firstobs,         formula         )
S3method( fitted,           lmBy            )
S3method( lastobs,          default         )
S3method( lastobs,          formula         )
S3method( linest,           geeglm          )
S3method( linest,           glm             )
S3method( linest,           lm              )
S3method( linest,           lmerMod         )
S3method( linest,           merMod          )
S3method( LSmatrix,         default         )
S3method( LSmeans,          default         )
S3method( LSmeans,          lmerMod         )
S3method( print,            linearEstimate  )
S3method( print,            lmBy            )
S3method( print,            LSmatrix        )
S3method( print,            splitByData     )
S3method( print,            summary_lmBy    )
S3method( residuals,        lmBy            )
S3method( summary,          lmBy            )

## S3method( get_null_basis, default)
## S3method( get_null_basis, matrix)
## S3method( get_null_basis, Matrix)

S3method( get_contrasts, default)
S3method( get_contrasts, merMod)
S3method( get_X, default )
S3method( get_X, merMod )
S3method( get_xlevels, default)
S3method( get_xlevels, mer)
S3method( get_xlevels, merMod)


## S3method( nullBasis,        geeglm          )
## S3method( nullBasis,        glm             )
## S3method( nullBasis,        lm              )
## S3method( nullBasis,        lmerMod         )
## S3method( nullBasis,        Matrix          )
## S3method( nullBasis,        matrix          )

          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
