.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal.black table,
.reveal.moon table
{
  color: white;
}

.reveal .slide-number {
  font-size: 0.6em;
}
